
.container-fluid.main-container {
    max-width: 95%;
	padding: 0;
}

body {
	background-color: #fafafadd;
}

h2 {
    margin: 0;
    height: 1px;
}

a {
	color: #dc46dc;
}

a:focus, a:hover {
	color: #21bdae;
	outline: none;
}

.table > tbody > tr > td, .table > tbody > tr > th
td {
    padding: 8px 5px;
    border-top: 1px solid #ddd;
}

.table > thead > tr > td, .table > thead > tr > th {
    padding-bottom: 10px;
    padding-left: 5px;
	border-bottom: none;
}

details {
    position: relative;
    border-radius: 5px;
    margin: 1em 0 2em 0;
    background-color: rgb(var(--theme-col));
    padding: .5em 1em;
	width: 220px;
}


details[open] {
	width: 100%;
    background-color: white;
    border: solid 1px black;
}

summary {
    font-size: 16pt;
	list-style-type: none;
	cursor: pointer;
	outline: 0;
	color: white;
	padding-left: 5px;
}


summary:focus {
    outline: none;
}

summary::marker {
	content: '';
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

details[open] > summary {
    padding-bottom: 1em;
	color: rgb(var(--font-col));
	background-color: white;
}

.btn {
    z-index: 1;
    position: relative;
    cursor: auto;
	border: none;
	color: white;
}

.btn.active.focus, .btn.active:focus, .btn.focus,
.btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
}

.btn.focus, .btn:focus, .btn:hover {
    color: white;
    text-decoration: none;
    filter: opacity(70%);
}


.section.level3 {
    border: solid 1px;
    border-radius: 6px;
	margin: 0 -5px;
	padding: 0 5px;
	background: white;
}

.nav > li {
	max-width: calc(100%/7.2);
    height: 40px;
}

.nav-pills > li {
    border: solid 1px;
    border-radius: 6px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
	background: none;
}

.nav-pills > li.active, .nav-pills > li.active:hover {
    background-color: white !important;
    border-bottom: solid 1px white !important;
    margin-bottom: -1px;
	height: 41px
}

.nav > li > a, .nav > li.active > a {
	padding: 8px 12px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 40px;
}

.nav-pills > li + li {
    margin-left: 0;
}

.nav-pills > li > a {
	color: white;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	background: none;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
	background: none;
}

